name: Main
on: [push, pull_request]

jobs:
  tests:
    runs-on: "ubuntu-latest"
    name: "PHP ${{ matrix.php-version }} Tests"
    strategy:
      matrix:
        php-version:
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
      - name: "Install dependencies"
        run: "composer install --no-progress"
      - name: "Run tests"
        run: "vendor/bin/phpunit"
